<h1>Lista de compra :</h1>
<table style="width: 100%; border: 1px solid black;">
  <tr class="titulos">
    <th>Estado</th>
    <th>Producto</th>
    <th>Descripción</th>
  </tr>
  <!--Aqui se recorre el array de Productos
  Tambien se da lugar a una serie de RadioButtons, para indicar si esta a la venta o ya para comprar
  Creada un función onSelect para seleccionar productos-->
  <tr *ngFor="let producto of productosA index as i;" (click)="onSelect(producto)" )>
    <!-- Gracias a poder emplear class dentro d euna etiqueta
    nosotros podemos acceder a una clase-->
    <td class="prueba">
     <!-- <input type="radio" name="comprado-{{i}}" value="si" [(ngModel)]="producto.comprado" [value]=true >Comprado
      <input type="radio" name="comprado-{{i}}" value="no" [(ngModel)]="producto.comprado" [value]=false> Comprar -->

    </td>
    <!--Acceso a las variable de los productos(nombre y descricion)
    Se crean clases diferentes para cad variable de nuestra lista
    -->
     <td class="nombre">{{producto.nombre}}</td>
    <td class="descricion">{{producto.desc}}</td>
  </tr>
</table>
<!--Esta es como la segunda parte
una lista donde se guardaran los productos que hayamos seleccionado-->
<h1>Productos Comprados:</h1>

